<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 1 -->
	<div style="width:100%">
		
		<div style="max-width:600px;margin:0 auto;padding:60px 0 30px 0;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:16px;line-height:1.5;border:1px solid #e2e2e2">
<!-- 2 헤더로고 (REVIEWHUNT) -->
			<div align="center" style="padding-right:0px;padding-left:0px" class="logo-area">
				<div style="font-size:1px;line-height:20px">&nbsp;</div>
				<a href="https://www.naver.com" style="outline:none" target="_blank">
					<img align="center" border="0" src="images/pets(1).png" alt="Logo" title="Logo" style="text-decoration-line: none; height: auto; border: none; width: 100%; max-width: 143px; display: block;" width="143">
				</a>
				<div style="font-size:1px;line-height:20px">&nbsp;</div>
			</div>
<!-- 3 회색 구분선 -->
			<hr style="border:0;border-top:solid 1px #e2e2e2;width:90%;margin:30px auto" class="horizontal-line">
<!-- 4 일반 문단 -->
			<div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
				<div style="margin-top:20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ea fugit 
					nesciunt reprehenderit at, cumque expedita dolor totam placeat asperiores 
					voluptatibus, ipsum voluptates. Laboriosam exercitationem, pariatur impedit 
					molestiae perferendis quos.
				</div>
			</div>
<!-- 이거 쓸 일 없지 않나?
<!-- 5 불릿 포인트(●)
			<div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:20px" class="bullet-point">
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur...</li>
					<li>Lorem ipsum dolor sit amet, consectetur...</li>
					<li>Lorem ipsum dolor sit amet, consectetur...</li>
				</ul>
			</div>
<!-- 6 불릿 포인트(숫자)
			<div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:20px" class="bullet-point">
				<ol>
					<li>Lorem ipsum dolor sit amet, consectetur...</li>
					<li>Lorem ipsum dolor sit amet, consectetur...</li>
					<li>Lorem ipsum dolor sit amet, consectetur...</li>
				</ol>
			</div>
 -->
<!-- 7 이미지 -->
			<div align="center" style="padding-right:0px;padding-left:0px;margin-top:40px" class="full-image">
				<img align="center" border="0" src="https://steemitimages.com/640x0/https://cdn.steemitimages.com/DQmdZZLcyLv6Z1BXQ7mfarYq5a2MnAhimaJfCq2KAxYoSKT/main.png" alt="Image" title="Image" style="border: 0px; height: auto; width: 100%; display: block;">
			</div>
<!-- 이부분은 삭제해도 될거같은데?
<!-- 1
			<div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
				<div style="margin-top:20px">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ea fugit 
					nesciunt reprehenderit at, cumque expedita dolor totam placeat asperiores 
					voluptatibus, ipsum voluptates. Laboriosam exercitationem, pariatur impedit 
					molestiae perferendis quos.
				</div>
			</div>
 -->
<!-- 8 -->
			<div align="center" style="padding-top:40px;padding-right:10px;padding-bottom:10px;padding-left:10px">
				<a href="https://www.naver.com" style="text-decoration-line: none; display: inline-block; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-radius: 60px; width: auto; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); padding: 10px 25px;" target="_blank">사이트로 이동</a>
			</div>
<!-- 9 -->
<!-- 10명이상의 사람에게 보내는 이메일의 경우, 해당 버튼이 없으면 스팸 메일로 분류될 수 있음 -->
			<div style="text-align:center;">
				<a style="font-size:12px;color:silver" href="mailto:your@email.com?subject=Unsubscribe!&amp;body=I&nbsp;don't&nbsp;want&nbsp;to&nbsp;receive&nbsp;an&nbsp;email&nbsp;from&nbsp;your&nbsp;service!" target="_blank">Unsubscribe from emails</a>
			</div>
			
		</div>
	</div>
</body>
</html>