@charset "UTF-8";
	/* 게시판 이름 */
	#ment{
		font-size: 30px;
		font-weight: bold;
		width: 40%;
		margin: 30px;
		text-decoration: underline;
		text-decoration-color: rgb(41, 128, 185); 
	}

	/* 사진 영역 - 왼쪽 */
	#picture{			/* 메인 사진 영역 */
		width: 50%;
		float: left;
	}
	
	#thumbnailImg{		/* 메인 사진 */
		posittion: relative;		/* 홈픽쳐에 스위치 버튼 올리기 --> 겹쳐지지도 않네 */
		width: 420px;
		height: 400px;
		margin: 15px 0px 0px 50px;
	}
	
	#btn{		/* 메인 사진 밑 버튼 영역 */
		position: absolute;
		top: 480px;
		z-index: 5;
		margin-left: 15%; 
	}
	
	.switch{
		width: 40px;
		height: 50px;
		display: none;
	}
	
	#left{
		margin: 10px 315px 10px -172px;
	}
	
	#right{
		margin: 10px 0px 10px 10px; 
	}

	
	#smallPictures{		/* 작은 사진들 영역 */
		padding: 0px;
		width: 100%;
		height: 150px;
		margin: 0px;
		clear: both;
	}
	
	#smallPets{
		padding: 0px;
		width: 500px;
		height: 150px;
		margin: 0px;
		clear: both;
		float: left;
	}

	.smallPicture{		/* 작은 사진들 */
		width: 120px;
		height: 140px;
		margin: 10px 10px 10px 30px;
		opacity: 0.7;
	}
	
	.smallPicture:hover{
		cursor: pointer;
	}
	
	.threeButton{		/* 삭제, 수정, 입양 버튼 */
		float: right;
		margin: 20px 70px 0px 0px;
		width: 145px;
		height: 80px;
		border-radius: 10px;
		border: 0px;
		background-color: rgb(41, 128, 185);
		font-size: 28px;
		font-weight: bold;
		color: white;
	}
	
	#delete, #alter, #apply, #apply1:hover{
		cursor: pointer;
	}
	
	
	/* 동물 설명 영역 - 오른쪽 */
	
	#petName{			/* 설명 영역 */ 
		width: 45%;
		float: left;
	}
	
	#petName > p{		/* 보호동물 이름 */
		font-size: 35px;
		font-weight: bold;
		padding: 25px 0px 40px 0px;
		width: 400px;
		float: left;
	}
	
	#listBtn{
		margin: 30px 0px 30px 60px;
		width: 100px;
		height: 50px;
		border-radius: 10px;
		border: 0px;
		background-color: white;
		font-size: 20px;
		font-weight: bold;
		color: black;
	}
	
	#listBtn:hover{
		cursor: pointer;
	}
	
	.petDetail{			/* 세부설명 영역 */
		width: 40%;
		float: left;
		padding-bottom: 30px;
	}
	
	.petDetail tr{		/* 세부설명 영역 */
		margin: 20px 0px 40px 0px;
	}
	
	.petDetail td{		/* 세부설명 글자부분 */
		margin: 15px 0px 0px 0px;
		padding: 10px 0px 0px 0px;
		list-style: none;
	}
	
	hr{
		clear: both;
		margin-bottom: 30px;
	}